# Analysis of the State of the Business

## Loan Types Diagram

<img src="https://i.imgur.com/B7NvEKb.png">

> **Note**: Past debt delinquency rates (DQ) have determined the interest rates for the Contigo product. 
>
> The monthly DQ rates for each Contigo loan type is an estimation that holds throught this year.

## Importing Libraries and Modules

In [78]:
import numpy as np
import math
import pandas as pd

## Setting Variables

In [6]:
# Contigo A loan features
CA_features = {
    "loan_amount":1000,
    "term":1,
    "interest_rate":0.15,
    "delinquency_rate":0.135
}

# Contigo B loan features
CB_features = {
    "loan_amount":2000,
    "term":1,
    "interest_rate":0.1,
    "delinquency_rate":0.08
}

> **Note**: Payment term, interest rate and delinquency rate will be assumed to have a monthly frequency.

In [77]:
# Amount of accounts per loan type on the first month
CA_accounts = 5000
CB_accounts = 10000

In [14]:
# Estimated month-over-month growth rates per loan type
CA_growth_rate_MoM = 0.25
CB_growth_rate_MoM = 0.1

In [79]:
# Monthly operating cost per account
monthly_operating_cost_pa = 30

> **Task**: The startup is concerned that the change in DQ rates and the aggressive expansion may reduce
profitability in the following months, so they asked you to **make a forecast on the net income of its
operation (ignoring taxes) in the next 12 months**.

## Calculating Gross Income per Account

<img src="https://i.imgur.com/INJUZZY.png">

In [9]:
# Compute the monthly gross income per account for Contigo A
CA_gross_income_pa = CA_features["loan_amount"]*CA_features["term"]*CA_features["interest_rate"]*(1-CA_features["delinquency_rate"])

# Compute the monthly gross income per account for Contigo B
CB_gross_income_pa = CB_features["loan_amount"]*CB_features["term"]*CB_features["interest_rate"]*(1-CB_features["delinquency_rate"])

In [13]:
print(f"The monthly gross income per account for Contigo A is: {CA_gross_income_pa} MXN")
print(f"The monthly gross income per account for Contigo B is: {CB_gross_income_pa} MXN")

The monthly gross income per account for Contigo A is: 129.75 MXN
The monthly gross income per account for Contigo B is: 184.0 MXN

## Computing Accounts Month-over-Month

In [61]:
def compute_accounts(initial_accounts: int, growth_rate: float, num_months=12):
    """Computes the number of accounts during 12 months based on a specific MoM growth rate"""
    return [math.floor(initial_accounts * (1+ growth_rate) ** i) for i in range(num_months)]

In [73]:
CA_accounts_MoM = np.array(compute_accounts(CA_accounts, CA_growth_rate_MoM))
CB_accounts_MoM = np.array(compute_accounts(CB_accounts, CB_growth_rate_MoM))

In [90]:
total_accounts_MoM = CA_accounts_MoM + CB_accounts_MoM

## Calculating Total Gross Income Month-over-Month

In [74]:
CA_gross_income_MoM = CA_accounts_MoM * CA_gross_income_pa
CB_gross_income_MoM = CB_accounts_MoM * CB_gross_income_pa

In [91]:
total_gross_income_MoM = CA_gross_income_MoM + CB_gross_income_MoM

In [80]:
CA_operating_costs_MoM = CA_accounts_MoM * monthly_operating_cost_pa
CB_operating_costs_MoM = CB_accounts_MoM * monthly_operating_cost_pa

In [89]:
total_operating_costs_MoM = CA_operating_costs_MoM + CB_operating_costs_MoM

## Calculating Total Net Income Month-over-Month

In [83]:
CA_net_income_MoM = CA_gross_income_MoM - CA_operating_costs_MoM
CB_net_income_MoM = CB_gross_income_MoM - CB_operating_costs_MoM

In [85]:
total_net_income_MoM = CA_net_income_MoM + CB_net_income_MoM

## Presenting Results in Tabular Format

In [99]:
# Creates a sequence for every month number in a year
month_nums = [i for i in range(1,13)]

results_per_loan_dict = {
    "month_num":month_nums,
    "Contigo_A_accounts":CA_accounts_MoM,
    "Contigo_B_accounts":CB_accounts_MoM,
    "Contigo_A_gross_income":CA_gross_income_MoM,
    "Contigo_B_gross_income":CB_gross_income_MoM,
    "Contigo_A_operating_costs":CA_operating_costs_MoM,
    "Contigo_B_operating_costs":CB_operating_costs_MoM,
    "Contigo_A_net_income":CA_net_income_MoM,
    "Contigo_B_net_income":CB_net_income_MoM,
}

total_results_dict = {
    "month_num":month_nums,
    "total_accounts":total_accounts_MoM,
    "total_gross_income":total_gross_income_MoM,
    "total_operating_costs":total_operating_costs_MoM,
    "total_net_income":total_net_income_MoM
}

In [100]:
results_per_loan = pd.DataFrame(results_per_loan_dict)

In [101]:
results_per_loan

,month_num,Contigo_A_accounts,Contigo_B_accounts,Contigo_A_gross_income,Contigo_B_gross_income,Contigo_A_operating_costs,Contigo_B_operating_costs,Contigo_A_net_income,Contigo_B_net_income
0,1,5000,10000,648750.00,1840000.0,150000,300000,498750.00,1540000.0
1,2,6250,11000,810937.50,2024000.0,187500,330000,623437.50,1694000.0
2,3,7812,12100,1013607.00,2226400.0,234360,363000,779247.00,1863400.0
3,4,9765,13310,1267008.75,2449040.0,292950,399300,974058.75,2049740.0
4,5,12207,14641,1583858.25,2693944.0,366210,439230,1217648.25,2254714.0
5,6,15258,16105,1979725.50,2963320.0,457740,483150,1521985.50,2480170.0
6,7,19073,17715,2474721.75,3259560.0,572190,531450,1902531.75,2728110.0
7,8,23841,19487,3093369.75,3585608.0,715230,584610,2378139.75,3000998.0
8,9,29802,21435,3866809.50,3944040.0,894060,643050,2972749.50,3300990.0
9,10,37252,23579,4833447.00,4338536.0,1117560,707370,3715887.00,3631166.0
10,11,46566,25937,6041938.50,4772408.0,1396980,778110,4644958.50,3994298.0
11,12,58207,28531,7552358.25,5249704.0,1746210,855930,5806148.25,4393774.0

In [102]:
total_results = pd.DataFrame(total_results_dict)

In [103]:
total_results

,month_num,total_accounts,total_gross_income,total_operating_costs,total_net_income
0,1,15000,2488750.00,450000,2038750.00
1,2,17250,2834937.50,517500,2317437.50
2,3,19912,3240007.00,597360,2642647.00
3,4,23075,3716048.75,692250,3023798.75
4,5,26848,4277802.25,805440,3472362.25
5,6,31363,4943045.50,940890,4002155.50
6,7,36788,5734281.75,1103640,4630641.75
7,8,43328,6678977.75,1299840,5379137.75
8,9,51237,7810849.50,1537110,6273739.50
9,10,60831,9171983.00,1824930,7347053.00
10,11,72503,10814346.50,2175090,8639256.50
11,12,86738,12802062.25,2602140,10199922.25