# Analysis of a Collection Strategy

Key Data:
- Prioritize collections on Contigo A customers.
- A DQ rate <= 10% makes Contigo A a profitable customer segment.
- Collection strategy: recover 175/675 accounts that went delinquent out of the 5000 accounts in the first month.
- A model estimates the probability of reaching the customer successfully by calling (contactability score).
- The customer will pay around 3/4 of the time after being contacted, and it has no chance to pay if they never connect the call.
- A phone call campaign costs around 30 pesos per DQ customer, regardless of the contact result.

In [1]:
import pandas as pd
import numpy as np

In [7]:
contactability_scores = pd.read_csv("./contactability_scores.csv")

In [9]:
contactability_scores

     customer_id  contactability_score  total_debt  interest
0              1                 0.293        1000       150
1              2                 0.250        1000       150
2              3                 0.033        1000       150
3              4                 0.239        1000       150
4              5                 0.681        1000       150
..           ...                   ...         ...       ...
670          671                 0.463        1000       150
671          672                 0.434        1000       150
672          673                 0.396        1000       150
673          674                 0.230        1000       150
674          675                 0.653        1000       150

[675 rows x 4 columns]

In [8]:
collection_results = pd.read_csv("./collection_results.csv")

In [11]:
contigo_a_collection_results = collection_results[collection_results.loan_type == "Contigo A"]

In [12]:
contigo_a_collection_results

,month,loan_type,accounts,delinquency_accounts,interest_revenue,delinquency_loss,operative_costs,net_income
0,1,Contigo A,5000,675.000,648750.00,675000.0,150000,-176250.00
1,2,Contigo A,6250,843.750,810937.50,843750.0,187500,-220312.50
2,3,Contigo A,7812,1054.620,1013607.00,1054620.0,234360,-275373.00
3,4,Contigo A,9765,1318.275,1267008.75,1318275.0,292950,-344216.25
4,5,Contigo A,12207,1647.945,1583858.25,1647945.0,366210,-430296.75
5,6,Contigo A,15258,2059.830,1979725.50,2059830.0,457740,-537844.50
6,7,Contigo A,19073,2574.855,2474721.75,2574855.0,572190,-672323.25
7,8,Contigo A,23841,3218.535,3093369.75,3218535.0,715230,-840395.25
8,9,Contigo A,29802,4023.270,3866809.50,4023270.0,894060,-1050520.50
9,10,Contigo A,37252,5029.020,4833447.00,5029020.0,1117560,-1313133.00
10,11,Contigo A,46566,6286.410,6041938.50,6286410.0,1396980,-1641451.50
11,12,Contigo A,58207,7857.945,7552358.25,7857945.0,1746210,-2051796.75

In [27]:
import csv

input_file = './collection_results.csv'
output_file = './output.csv'

with open(input_file, 'r') as f_in, open(output_file, 'w', newline='') as f_out:
    reader = csv.reader(f_in)
    writer = csv.writer(f_out)

    # write the header row to the output file
    header = next(reader)
    writer.writerow(header)

    # loop through each row and format as a tuple with parentheses
    for row in reader:
        row = '(' + ','.join(row) + '),'
        writer.writerow([row])

In [28]:
import csv

input_file = './output.csv'
output_file = 'output.txt'

with open(input_file, 'r') as f_in, open(output_file, 'w') as f_out:
    reader = csv.reader(f_in)
    
    for row in reader:
        # remove any "" from the row
        new_row = [col.replace('"', '') for col in row]
        # write the cleaned row to the output file
        f_out.write(','.join(new_row) + '\n')